{% extends "paabase.html" %}
{% load staticfiles  %}

{% block title %} Feedback {% endblock title %}

{% block breadcrumbstart %}
    {{ block.super }}
    <li><a href=" {% url 'assessmentindex' %} ">Tests</a></li>
    <li><a href=" {% url 'assessmentfeedback' testeeassessment_id %} ">Test Feedback</a></li> 
{% endblock breadcrumbstart%}
{% block breadcrumbend %}
    {{ block.super }}
{% endblock breadcrumbend %}

{% block body %}
<p>
You missed at least one question in your test. Please keep the following in mind for the future.
</p>
<ul>
{% for item_text in item_feedback %}
    <li>{{ item_text.feedback_text }}</li>
{% endfor %}
</ul>

{% endblock body %}