{% extends "paabase.html" %}
{% load staticfiles  %}

{% block title %} Your Tests {% endblock title %}

{% block breadcrumbstart %}
    {{ block.super }}
    <li><a href=" {% url 'assessmentindex' %} ">Tests</a></li>
{% endblock breadcrumbstart%}
{% block breadcrumbend %}
    {{ block.super }}
{% endblock breadcrumbend %}

{% block body %}

<h5>Tests to Complete</h5>
{% if active_assesments_list %}
    <ul>
    {% for assessment in active_assesments_list %}
        <li>{{assessment.name}}</li> 
    {% endfor %}
    </ul>
{% else %}
    <p>You do not have any tests to complete at this time.</p>
{% endif %}

<h5>Completed Tests</h5>
<p>Test1 with some info...</p>
<p>Test2 with some info...</p>

{% endblock body %}
