{% extends "paabase.html" %}
{% load staticfiles  %}

{% block title %} Next Question {% endblock title %}

{% block breadcrumbstart %}
    {{ block.super }}
    <li><a href=" {% url 'assessmentindex' %} ">Tests</a></li>
    <li><a href=" {% url 'assessmentitem' %} ">Current Question</a></li>
{% endblock breadcrumbstart%}
{% block breadcrumbend %}
    {{ block.super }}
{% endblock breadcrumbend %}

{% block body %}

{{ body_text }}

{% if item %}    
    {{ item }}
{% endif %}

{% endblock body %}
