{% extends "paabase.html" %}
{% load staticfiles  %}

{% block title %} Next Question {% endblock title %}

{% block breadcrumbstart %}
    {{ block.super }}
    <li><a href=" {% url 'assessmentindex' %} ">Tests</a></li>
    <li><a href=" {% url 'assessmentitem' item.id %} ">Current Question</a></li>
{% endblock breadcrumbstart%}
{% block breadcrumbend %}
    {{ block.super }}
{% endblock breadcrumbend %}

{% block body %}

{% if item %}   
<form action="{% url 'assessmentresponse' %}" method="post">
    {% csrf_token %} 
    <strong>{{ item }}</strong>
    {% for option in item.option_set.all %}
        <div>
            <input id="option{{ forloop.counter }}" name="option" type="radio" value"{{ option.id }}" /> 
            <label for="option{{ forloop.counter }}">{{ option.option_text }} </label>
        </div>
    {% endfor %}    
    <input type="submit" value="Submit">
</form>
{% endif %}

{% endblock body %}
