{% extends "paabase.html" %}
{% load staticfiles  %}

{% block title %} Next Question {% endblock title %}

{% block breadcrumbstart %}
    {{ block.super }}
    <li><a href=" {% url 'assessmentindex' %} ">Tests</a></li>
    <li><a href=" {% url 'assessmentitem' testeeassessment_id %} ">Current Question</a></li>
{% endblock breadcrumbstart%}
{% block breadcrumbend %}
    {{ block.super }}
{% endblock breadcrumbend %}

{% block body %}

{% if item %}   
<form action="{% url 'assessmentitem' testeeassessment_id %}{# url 'assessmentresponse' testee_response_id #}" method="post">
    {% csrf_token %}
    <input type="hidden" name="TesteeResponse" value="{{testee_response_id}}">
    <strong>{{ item }}</strong>
    <ol>
    {% for option in current_options %}
        <li class="item-display">
            <input id="option{{ forloop.counter }}" name="option" type="radio" value="{{ option.id }}" /> 
            <label for="option{{ forloop.counter }}">{{ option.option_text }} </label>
        </li>
    {% endfor %}  
    </ol>  
    <input type="submit" value="Submit">
</form>
{% endif %}

{% endblock body %}
