{% extends "paabase.html" %}
{% load staticfiles  %}

{% block title %} Item Banks {% endblock title %}

{% block breadcrumbstart %}
    {{ block.super }}
    <li><a href=" {% url 'itemindex' %} ">Items</a></li>
{% endblock breadcrumbstart%}
{% block breadcrumbend %}
    {{ block.super }}
{% endblock breadcrumbend %}


{% block body %}

<h5>Current Item Banks - NOT IN USE!!!</h5>

{% if itembank_list %}
    <ul>
    {% for itembank in itembank_list %}
        <li>{{ itembank.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Currently there are no item banks.</p>
{% endif %}

{% endblock body %}
