{% extends "paabase.html"  %}
{% load staticfiles %}

{% block title %}About{% endblock title %}

{% block template-loading %}{{ block.super }}<p class="text-warning">about/index.html template loaded</p>{% endblock template-loading %}

{% block body  %}

<ol class="breadcrumb">
    <li><a href="{% url 'aboutindex' %}">About</a></li>
</ol>

{% if text1 %}
    <p>{{text1}}</p>
{% endif %}

{% if text2 %}
    <h5>More infomation about the app</h5>
    {% for page in text2 %}
        <p><a href="/about/{{page.id}}/">{{page.title}}</a></p>
    {% endfor %}
<p><i>Update links with path name shortcut!!!</i></p>
{% endif %}

{% endblock body  %}
