{% extends "paabase.html"  %}

{% if page.title %}
    {% block title %}
        {{ page.title }}
    {% endblock title %}
{% endif %}

{% block template-loading %}
    {{ block.super }}
    <p class="text-warning">about/page_detail.html template loaded</p>
{% endblock template-loading %}

{% block breadcrumbstart %}
    {{ block.super }}
    <li><a href=" {% url 'aboutindex' %} ">About</a></li>
    <li><a class="active" href="#">{% if page.title %}{{ page.title }}{% endif %}</a></li>
{% endblock breadcrumbstart%}
{% block breadcrumbend %}
    {{ block.super }} 
{% endblock breadcrumbend %}

{% if page.body %}
    {% block body  %}

        {{ page.body }}

    {% endblock body  %}
{% endif %}
