{% extends "paabase.html"  %}

{% if page.title %}
    {% block title %}
        {{ page.title }}
    {% endblock title %}
{% endif %}

{% block template-loading %}
    {{ block.super }}
    <p class="text-warning">about/page_detail.html template loaded</p>
{% endblock template-loading %}

{% if page.body %}
    {% block body  %}
        <ol class="breadcrumb">
            <li><a href="{% url 'aboutindex' %}">About</a></li>
        </ol>
        {{ page.body }}
    {% endblock body  %}
{% endif %}
